<h1>Week {{number}}</h1>
<h4>Most popular products: {{popular}}</h4>
<h4>Least popular products: {{leastPopular}}</h4>
<h4>Most popular categories: {{popularCategories}}</h4>
<h4>Least popular categories: {{leastPopularCategories}}</h4>
